<div class="page-header">
    <a href="#/accueil" class="btn btn-warning">Retour</a>
    <h3>
        {{post.titre}}
    </h3>
    <small><u>Posté le :</u> {{post.date}}<br/>
    </small>
    <br/>
    <u>Url :</u><a href="{{post.lien}}">
        {{post.lien}}
    </a><br/><br/>
    <u>Description :</u><br/>
    <p>{{post.description}}</p>
</div>

<div ng-repeat="comment in post.comments | orderBy:'-votesPositifs'">
    <span ng-click="AugmenterVotePositif(comment)" class="glyphicon glyphicon-thumbs-up bouton" ></span>
    <span ng-click="DiminuerVotePositif(comment)" class="glyphicon glyphicon-thumbs-down bouton" ></span>
    {{comment.votePositifs}} - by {{comment.auteur}}
    {{comment.voteNegatifs}} - by {{comment.auteur}}
    <span style="font-size:20px; margin-left:10px;">
      {{comment.body}}
    </span>
</div>

<form ng-submit="ajoutCommentaire()"
      style="margin-top:30px;">
    <h3>Add a new comment</h3>

    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Comment"
               ng-model="body"
                required="required">
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>